
/*Se activa el css de la selección*/
#trageta-01 {
    border-radius: 5px !important;
    border: 2px solid var(--primary) !important;
    font-size: 12px !important;
    transform: translateY(-10px) !important;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2) !important;
    color: white !important;
    background-color: var(--primary) !important;
}

#trageta-01 {
    margin: 20px 0px 0px 0px;
}

