
#DocTablas{
    border-radius: 15px;
    margin: 0px 0px 0px 0px;
    background: var(--grey);
}

#NuevaNorma{
    margin: 0px 0px 10px 0px;
}

#Elegir{
    margin: 5px 0px 0px 85px;
}

.col-lg-10 table{
    margin: 0px 0px 30px 100px;
}
.col1 {

    width: 30%;
 }
 .col2 {
    border: white;

    width: 70%;
 }
 .row {
   display: flex;
   width: 100%;
 }